html[data-theme=dark] {
    color-scheme: dark;
    --color-bg: hsl(213, 10%, 12%);
    --color-bg-primary: hsl(213, 10%, 21%);
    --color-bg-secondary: hsl(213, 10%, 16%);
    --color-bg-tertiary: hsl(213, 10%, 14%);
    --color-text: hsl(213, 10%, 80%);
    --color-text-primary: hsl(213, 10%, 98%);
    --color-text-secondary: hsl(213, 10%, 58%);
    --color-text-tertiary: hsl(213, 10%, 48%);
    --body-color-bg: hsl(213, 10%, 16%);
    --border-color: hsla(213, 10%, 80%, .15);
    --box-shadow-card-lg: hsla(210deg, 8%, 2%, .2) 0 .8rem 2.4rem;
    --btn-color: hsl(213, 16%, 78%);
    --btn-color-bg: hsl(213, 10%, 28%);
    --btn-color-bg-hover: hsl(213, 10%, 30%);
    --code-color: hsl(297deg, 30%, 78%);
    --code-color-bg: hsl(297deg, 70%, 50%, .08);
    --input-color-bg: hsl(213, 10%, 16%);
    --input-color-bg-hover: hsl(213, 10%, 14%);
    --input-color-border: var(--input-color-bg);
    --navbar-bg: var(--color-bg);
    --navbar-link-color-active: #fff;
    --table-border-color: var(--btn-color-bg-hover);
    --color-info: hsl(207deg, 95%, 65%);
    --color-info-text: hsl(212deg, 85%, 62%);
    --color-info-bg: hsl(212deg, 85%, 62%, .2);
    --color-danger: hsl(0deg, 82%, 63%);
    --color-danger-bg: hsl(0deg, 25%, 24%);
    --color-danger-bg-hover: hsl(0deg, 25%, 28%);
    --color-danger-text: hsl(0deg, 75%, 65%);
    --color-success: hsl(90deg 60% 36%);
    --color-success-bg: hsl(90, 24%, 25%);
    --color-success-bg-hover: hsl(90deg 64% 78%);
    --color-success-text: hsl(90deg, 29%, 60%);
    --color-warning-bg: hsla(42, 79%, 60%, .4);
    --color-warning-bg-hover: hsla(42, 79%, 70%, .4);
    --color-warning-text: hsl(42, 79%, 80%);
    --admin-color-bg: hsla(285deg, 29%, 36%, .6);
    --admin-color-bg-hover: hsla(285deg, 39%, 32%, .8);
    --admin-color-text: hsl(285deg 65% 76%);
}

body {
    transition: 0.1;
    background-color: rgb(26, 27, 28);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cut {
    margin-bottom: 1.6rem;
    margin-top: 1.6rem;
    
      margin-left: 36.6rem;
      margin-right: 36.6rem;
      background-color :rgb(147, 143, 128);
      border-top: 0.01rem solid rgb(60, 60, 60);
      border-radius: 2px;

}


#l1 {
    font-weight: 600;
}
#l2 {
    font-weight: 100;
}

  .welcomLine{
   color: hsl(221, 100%, 61%);
     text-align: center;
     position: relative;
       top: 20px;
       background: linear-gradient(45deg, hsl(221, 100%, 55%) 0%, hsl(256, 100%, 84%));
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
  }

  .icon1 {
    position:absolute;
     top:-30rem;
      object-position: center;
     scale: 5%;

  }

#st {
     text-align: center;
         color: white;
         font-weight: 200;
     position: relative;
        top:23rem;   

        letter-spacing: 1rem;

        background: linear-gradient(45deg, hsl(221, 100%, 55%) 0%, hsl(256, 100%, 84%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
       
  }

  .welcomeText {
   
      color: #d5d5d5;

      font-size: larger;
      font-weight: 100;
        width: 40rem;
       position: relative;
         top: 4rem;
         left: 40rem;
       
  }

  .text1 {
    color: #d5d5d5;

    font-size: larger;
    font-weight: 100;
      width: 40rem;
     position: relative;
       top: 27rem;
       left: 44rem;
  }

  .llh {
    position: relative;
      left: 5rem;

      user-select: none;
  }
   

  /*Image-track-system*/

   

#image-track {
  display: flex ;
   gap : 5vmin;
   position:absolute;
     left: 50%;
      top: 80rem;
      transform: translate(0%,-50%);
      user-select: none; /* -- Prevent image highlighting -- */
    }
    
    #image-track > .image {
      border-radius: 1rem;
      image-rendering:auto;
      width: 40vmin;
      height: 56vmin;
      object-fit: cover;
      object-position: 100% center;
    }
   

