


body {
    transition: 0.1;
    background-color: rgb(37, 40, 40);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



#TitleMain {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color:hsl(0, 0%, 80%);
    
    text-align: center;
    scale: 80%; 
    position: relative;
    top: -10px;
   font-size: 38px;

}

.apptool {

    scale: 45%  ;
    position: absolute;
      bottom: -1rem;
      right: 40rem;
}

.apptool:hover {
  cursor: pointer;
}

.headerButtons {
  position: relative;
     bottom: 35px;
     right: 110px;
}

#headermain {
    transition: 0.3;
    background-color: rgb(36, 36, 36);
    scale: 100%;
    height: 6rem;

    position: relative;
      top: -1rem;
      right: -1rem;
      scale: 110%;
}

#roadmap {

  position: relative;
  top: 60%;
   left: 13rem;
  width: 150px;
  height: 30px; 
  color: rgb(234, 118, 134);
}

#journal {

  position: relative;
   top: 60%;
   left: 14rem;
  width: 150px;       
  height: 30px;
  color: rgb(138, 143, 212); 
}


.mainButton1 {
  transition: 0.1s;
  border-radius: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    background-color: rgb(54, 58, 59);
   
    border: none;
  
}

.mainButton1:hover {

  cursor: pointer;
   scale: 110%;
     background-color: rgb(182, 188, 194);
     color: rgb(50, 50, 50);
}

#discord {
  transition: 0.1s;
  transition: 0.3s;
  width: 50px;
  height: 50px;
    position: absolute;
      bottom: -10%;
      right: 10%;
}

#discord:hover {
   
  cursor: pointer;
  transition: 0.1s;
   scale: 130%;
   transition: 0.3s;
   rotate: 360deg;

} 


#BannerImage {
  
    transition: 0.1s;
    box-shadow: 0,0,200px rgba(31, 31, 31, 0.5) inset;
   position-anchor: 50% 50%;
   position: absolute;
      left: 15%;
      top: 130%;
      scale: 90%;
      border-radius: 40px;
   image-rendering: pixelated;

    box-shadow: 100px,0,200px,rgb(0, 0, 0);
  
    opacity: 0.7;

    

}

#mainTitle {

    position: absolute;
      top: 6rem;
      right: 64%;
      font-size: 40px;
        scale: 150%;
      font-weight: 600;
       font-style: normal;
      color: rgb(255, 255, 255);
}

.bannerio2 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 10rem;
    left: 25%;
    width: 30%;
    font-style:italic;
    color: rgb(255, 255, 255);
  text-decoration: underline;
  scale: 110%;
}


.DownSection {
  position: absolute;
  
   color: rgb(199, 199, 199);
   
   
  left: 25%;
  scale: 90%;

  position: relative;
    top: 20px;
    right: 40px;
}

.DownSection li  {
  color: rgb(164, 122, 193);
}
.DownSection a  {
  color: rgb(208, 207, 116);
}


#gradientPosition {
  width: 1920px;
  height: 1000px;
  background-image: linear-gradient(rgba(126, 126, 126, 0.1),rgb(34, 34, 34));
  mix-blend-mode: multiply,0.1;
}

.spaces {
  margin-bottom: 25px;
  position: relative;
    
  margin-top: 25px;

}
