:root {
  --primary:#cfbcff;
--on-primary:#381e72;
--primary-container:#4f378a;
--on-primary-container:#e9ddff;
--secondary:#cbc2db;
--on-secondary:#332d41;
--secondary-container:#4a4458;
--on-secondary-container:#e8def8;
--tertiary:#efb8c8;
--on-tertiary:#4a2532;
--tertiary-container:#633b48;
--on-tertiary-container:#ffd9e3;
--error:#ffb4ab;
--on-error:#690005;
--error-container:#93000a;
--on-error-container:#ffb4ab;
--background:#1c1b1e;
--on-background:#e6e1e6;
--surface:#141316;
--on-surface:#e6e1e6;
--surface-variant:#49454e;
--on-surface-variant:#cac4cf;
--outline:#948f99;
--outline-variant:#49454e;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#e6e1e6;
--inverse-on-surface:#313033;
--inverse-primary:#6750a4;
--surface-dim:#141316;
--surface-bright:#3a383c;
--surface-container-lowest:#0f0e11;
--surface-container-low:#1c1b1e;
--surface-container:#201f22;
--surface-container-high:#2b292d;
--surface-container-highest:#363438;
}


body {
    transition: 0.1;
    background-color: #353535;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.light_purple {
  color: rgb(185, 147, 255) !important; 
  text-decoration: underline;
}

.pink_text {
  color: rgb(255, 134, 150) !important;
  text-decoration: underline;
}

.light_green {
  color: rgb(199, 255, 156) !important;
  text-decoration: underline; 
}


.overlay_color {
  background-color: rgba(61, 61, 61, 0.75);
}

.heavy_text {
  font-weight: 700;
}

#i5 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #c4c4c4;
}
#BannerImage1 {
  opacity: 0.7;
}

.i332 {
  width: 40rem;
   position: relative;
     left: 3rem;
}

.e1 {
  font-weight: 200;
}

#o23 {
  font-family: "Plaster", serif;
  color: rgb(206, 206, 206);
  scale: 140%;
  font-weight: 200;
}
.i331 {
  font-family: monospace;

  color: #c9c9c9;
  border-radius: 8px;
   font-weight: 600;
}



.e2 {
  color: rgb(65, 60, 60);
}

